# Embedding 
- [IMDb Movie Review Dataset 影評分析](http://ai.stanford.edu/~amaas/data/sentiment/)
- 有時間關係的特徵抓取，建議使用 RNN

## step0: 載入資料並觀察

In [0]:
%tensorflow_version 2.x

In [0]:
# 下載資料並解壓縮檔案
# import os

# if not os.path.exists(filename):
#     print("資料集不存在，下載中...")
#     !wget --content-disposition 'http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz'
#     !tar zxvf aclImdb_v1.tar.gz
# else:
#     print("資料集已經下載過了:)")

In [0]:
# 透過 tensorflow，下載資料並解壓縮檔案
import os 
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True)

In [4]:
# 查看 dataset path
import glob

dataset_path = os.path.dirname(dataset)
print('資料集的路徑是：', dataset_path)

# 查看路徑內有什麼資料夾或檔案
glob.glob('/root/.keras/datasets/*')

資料集的路徑是： /root/.keras/datasets

['/root/.keras/datasets/aclImdb.tar.gz', '/root/.keras/datasets/aclImdb']

In [0]:
import pandas as pd

def get_data(dataset_path, filename):
    contents = []
    sentiment = []
    file_path = os.path.join(dataset_path, filename)

    pos_fn = os.path.join(file_path, "pos", "*.txt")
    for fn in glob.glob(pos_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(1)

    neg_fn = os.path.join(file_path, "neg", "*.txt")
    for fn in glob.glob(neg_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(0)

    df = pd.DataFrame({
        "content":contents,
        "sentiment":sentiment
    }, columns=["content", "sentiment"])

    return df

In [6]:
dataset_path = os.path.dirname(dataset)
dataset_path = os.path.join(dataset_path, "aclImdb")
dataset_path

'/root/.keras/datasets/aclImdb'

In [7]:
train_df = get_data(dataset_path, "train")
train_df

                                                 content  sentiment
0      I've just watched Roll and what a pleasure it ...          1
1      When Philo Vance (Edmund Lowe) is standing pre...          1
2      Henri Verneuil represented the commercial cine...          1
3      Another one of those films you hear about from...          1
4      I was totally engrossed in this film from the ...          1
...                                                  ...        ...
24995  This is by the far worst piece of cr4p I've ev...          0
24996  What is the most harrowing movie ever made? Th...          0
24997  We have all been asking ourselves "why don't t...          0
24998  I watched 'Envy' two nights ago, on DVD, at a ...          0
24999  OK. So it's a low-budget "film" (I used the qu...          0

[25000 rows x 2 columns]

In [8]:
test_df = get_data(dataset_path, "test")
test_df

                                                 content  sentiment
0      This movie gives you more of an idiea how Aust...          1
1      I was recently at a sleepover birthday party w...          1
2      I just got this movie for Christmas and have a...          1
3      Although the concept of a 32 year old woman po...          1
4      When I first saw Stella on comedy central I th...          1
...                                                  ...        ...
24995  This movie is pretty predictable nuff said.......          0
24996  The film starts well enough. It is a truly ter...          0
24997  Some Plot Spoilers Ahead.<br /><br />The Nashv...          0
24998  I just recently viewed Shame which is directed...          0
24999  I really tried to give this film a chance but ...          0

[25000 rows x 2 columns]

## step1: 資料預處理

In [0]:
# 準備精選3000字詞典
from tensorflow.keras.preprocessing.text import Tokenizer

# 將資料向量化，並只保留最常出現的前 3000 個詞 (所以每個詞都是 3000 維度的向量)
tok = Tokenizer(num_words=3000)

# 類似 sklearn.feature_extraction.text.CountVectorizer 的 fit
tok.fit_on_texts(train_df["content"])

In [10]:
# 列出選擇的 3000 個詞，依照「出現次數」降序排列 
index2word = tok.index_word
word2index = tok.word_index

index2word

{1: 'the',
 2: 'and',
 3: 'a',
 4: 'of',
 5: 'to',
 6: 'is',
 7: 'br',
 8: 'in',
 9: 'it',
 10: 'i',
 11: 'this',
 12: 'that',
 13: 'was',
 14: 'as',
 15: 'for',
 16: 'with',
 17: 'movie',
 18: 'but',
 19: 'film',
 20: 'on',
 21: 'not',
 22: 'you',
 23: 'are',
 24: 'his',
 25: 'have',
 26: 'he',
 27: 'be',
 28: 'one',
 29: 'all',
 30: 'at',
 31: 'by',
 32: 'an',
 33: 'they',
 34: 'who',
 35: 'so',
 36: 'from',
 37: 'like',
 38: 'her',
 39: 'or',
 40: 'just',
 41: 'about',
 42: "it's",
 43: 'out',
 44: 'if',
 45: 'has',
 46: 'some',
 47: 'there',
 48: 'what',
 49: 'good',
 50: 'more',
 51: 'when',
 52: 'very',
 53: 'up',
 54: 'no',
 55: 'time',
 56: 'she',
 57: 'even',
 58: 'my',
 59: 'would',
 60: 'which',
 61: 'only',
 62: 'story',
 63: 'really',
 64: 'see',
 65: 'their',
 66: 'had',
 67: 'can',
 68: 'were',
 69: 'me',
 70: 'well',
 71: 'than',
 72: 'we',
 73: 'much',
 74: 'been',
 75: 'bad',
 76: 'get',
 77: 'will',
 78: 'do',
 79: 'also',
 80: 'into',
 81: 'people',
 82: 'other',
 83: 'first',
 84: 'great',
 85: 'because',
 86: 'how',
 87: 'him',
 88: 'most',
 89: "don't",
 90: 'made',
 91: 'its',
 92: 'then',
 93: 'way',
 94: 'make',
 95: 'them',
 96: 'too',
 97: 'could',
 98: 'any',
 99: 'movies',
 100: 'after',
 101: 'think',
 102: 'characters',
 103: 'watch',
 104: 'two',
 105: 'films',
 106: 'character',
 107: 'seen',
 108: 'many',
 109: 'being',
 110: 'life',
 111: 'plot',
 112: 'never',
 113: 'acting',
 114: 'little',
 115: 'best',
 116: 'love',
 117: 'over',
 118: 'where',
 119: 'did',
 120: 'show',
 121: 'know',
 122: 'off',
 123: 'ever',
 124: 'does',
 125: 'better',
 126: 'your',
 127: 'end',
 128: 'still',
 129: 'man',
 130: 'here',
 131: 'these',
 132: 'say',
 133: 'scene',
 134: 'while',
 135: 'why',
 136: 'scenes',
 137: 'go',
 138: 'such',
 139: 'something',
 140: 'through',
 141: 'should',
 142: 'back',
 143: "i'm",
 144: 'real',
 145: 'those',
 146: 'watching',
 147: 'now',
 148: 'though',
 149: "doesn't",
 150: 'years',
 151: 'old',
 152: 'thing',
 153: 'actors',
 154: 'work',
 155: '10',
 156: 'before',
 157: 'another',
 158: "didn't",
 159: 'new',
 160: 'funny',
 161: 'nothing',
 162: 'actually',
 163: 'makes',
 164: 'director',
 165: 'look',
 166: 'find',
 167: 'going',
 168: 'few',
 169: 'same',
 170: 'part',
 171: 'again',
 172: 'every',
 173: 'lot',
 174: 'cast',
 175: 'us',
 176: 'quite',
 177: 'down',
 178: 'want',
 179: 'world',
 180: 'things',
 181: 'pretty',
 182: 'young',
 183: 'seems',
 184: 'around',
 185: 'got',
 186: 'horror',
 187: 'however',
 188: "can't",
 189: 'fact',
 190: 'take',
 191: 'big',
 192: 'enough',
 193: 'long',
 194: 'thought',
 195: "that's",
 196: 'both',
 197: 'between',
 198: 'series',
 199: 'give',
 200: 'may',
 201: 'original',
 202: 'own',
 203: 'action',
 204: "i've",
 205: 'right',
 206: 'without',
 207: 'always',
 208: 'times',
 209: 'comedy',
 210: 'point',
 211: 'gets',
 212: 'must',
 213: 'come',
 214: 'role',
 215: "isn't",
 216: 'saw',
 217: 'almost',
 218: 'interesting',
 219: 'least',
 220: 'family',
 221: 'done',
 222: "there's",
 223: 'whole',
 224: 'bit',
 225: 'music',
 226: 'script',
 227: 'far',
 228: 'making',
 229: 'guy',
 230: 'anything',
 231: 'feel',
 232: 'minutes',
 233: 'last',
 234: 'since',
 235: 'might',
 236: 'performance',
 237: "he's",
 238: '2',
 239: 'probably',
 240: 'kind',
 241: 'am',
 242: 'away',
 243: 'yet',
 244: 'rather',
 245: 'tv',
 246: 'worst',
 247: 'girl',
 248: 'day',
 249: 'sure',
 250: 'fun',
 251: 'hard',
 252: 'woman',
 253: 'played',
 254: 'each',
 255: 'found',
 256: 'anyone',
 257: 'having',
 258: 'especially',
 259: 'although',
 260: 'our',
 261: 'course',
 262: 'believe',
 263: 'comes',
 264: 'looking',
 265: 'screen',
 266: 'trying',
 267: 'set',
 268: 'goes',
 269: 'looks',
 270: 'place',
 271: 'book',
 272: 'different',
 273: 'put',
 274: 'ending',
 275: 'money',
 276: 'maybe',
 277: 'once',
 278: 'sense',
 279: 'reason',
 280: 'true',
 281: 'actor',
 282: 'everything',
 283: "wasn't",
 284: 'shows',
 285: 'dvd',
 286: 'three',
 287: 'worth',
 288: 'year',
 289: 'job',
 290: 'main',
 291: 'someone',
 292: 'together',
 293: 'watched',
 294: 'play',
 295: 'plays',
 296: 'american',
 297: '1',
 298: 'said',
 299: 'effects',
 300: 'later',
 301: 'takes',
 302: 'instead',
 303: 'seem',
 304: 'beautiful',
 305: 'john',
 306: 'himself',
 307: 'version',
 308: 'audience',
 309: 'high',
 310: 'house',
 311: 'night',
 312: 'during',
 313: 'everyone',
 314: 'left',
 315: 'special',
 316: 'seeing',
 317: 'half',
 318: 'excellent',
 319: 'wife',
 320: 'star',
 321: 'shot',
 322: 'war',
 323: 'idea',
 324: 'nice',
 325: 'black',
 326: 'less',
 327: 'mind',
 328: 'simply',
 329: 'read',
 330: 'second',
 331: 'else',
 332: "you're",
 333: 'father',
 334: 'fan',
 335: 'help',
 336: 'poor',
 337: 'completely',
 338: 'death',
 339: '3',
 340: 'used',
 341: 'home',
 342: 'either',
 343: 'short',
 344: 'line',
 345: 'given',
 346: 'men',
 347: 'top',
 348: 'dead',
 349: 'budget',
 350: 'try',
 351: 'performances',
 352: 'wrong',
 353: 'classic',
 354: 'enjoy',
 355: 'boring',
 356: 'need',
 357: 'rest',
 358: 'use',
 359: 'hollywood',
 360: 'kids',
 361: 'low',
 362: 'production',
 363: 'until',
 364: 'along',
 365: 'friends',
 366: 'full',
 367: 'camera',
 368: 'truly',
 369: 'women',
 370: 'awful',
 371: 'video',
 372: 'next',
 373: 'tell',
 374: 'remember',
 375: 'couple',
 376: 'stupid',
 377: 'start',
 378: 'perhaps',
 379: 'stars',
 380: 'sex',
 381: 'mean',
 382: 'came',
 383: 'recommend',
 384: 'let',
 385: 'moments',
 386: 'wonderful',
 387: 'episode',
 388: 'understand',
 389: 'small',
 390: 'face',
 391: 'terrible',
 392: 'playing',
 393: 'school',
 394: 'getting',
 395: 'written',
 396: 'often',
 397: 'doing',
 398: 'keep',
 399: 'early',
 400: 'perfect',
 401: 'name',
 402: 'style',
 403: 'human',
 404: 'definitely',
 405: 'gives',
 406: 'others',
 407: 'itself',
 408: 'lines',
 409: 'live',
 410: 'become',
 411: 'dialogue',
 412: 'person',
 413: 'lost',
 414: 'finally',
 415: 'piece',
 416: 'head',
 417: 'case',
 418: 'felt',
 419: 'yes',
 420: 'liked',
 421: 'supposed',
 422: 'title',
 423: "couldn't",
 424: 'absolutely',
 425: 'white',
 426: 'against',
 427: 'boy',
 428: 'picture',
 429: 'sort',
 430: 'worse',
 431: 'certainly',
 432: 'went',
 433: 'entire',
 434: 'cinema',
 435: 'waste',
 436: 'problem',
 437: 'hope',
 438: "she's",
 439: 'entertaining',
 440: 'mr',
 441: 'overall',
 442: 'evil',
 443: 'called',
 444: 'loved',
 445: 'based',
 446: 'oh',
 447: 'several',
 448: 'fans',
 449: 'mother',
 450: 'drama',
 451: 'beginning',
 452: 'killer',
 453: 'lives',
 454: '5',
 455: 'direction',
 456: 'care',
 457: 'becomes',
 458: 'already',
 459: 'laugh',
 460: 'example',
 461: 'friend',
 462: 'dark',
 463: 'under',
 464: 'despite',
 465: 'seemed',
 466: 'throughout',
 467: '4',
 468: 'turn',
 469: 'unfortunately',
 470: 'wanted',
 471: "i'd",
 472: '\x96',
 473: 'children',
 474: 'final',
 475: 'fine',
 476: 'history',
 477: 'amazing',
 478: 'sound',
 479: 'guess',
 480: 'heart',
 481: 'totally',
 482: 'lead',
 483: 'humor',
 484: 'writing',
 485: 'michael',
 486: 'quality',
 487: "you'll",
 488: 'close',
 489: 'son',
 490: 'wants',
 491: 'guys',
 492: 'works',
 493: 'behind',
 494: 'tries',
 495: 'art',
 496: 'side',
 497: 'game',
 498: 'past',
 499: 'able',
 500: 'b',
 501: 'days',
 502: 'turns',
 503: "they're",
 504: 'child',
 505: 'hand',
 506: 'enjoyed',
 507: 'flick',
 508: 'act',
 509: 'genre',
 510: 'town',
 511: 'favorite',
 512: 'soon',
 513: 'kill',
 514: 'starts',
 515: 'sometimes',
 516: 'car',
 517: 'gave',
 518: 'run',
 519: 'late',
 520: 'etc',
 521: 'eyes',
 522: 'actress',
 523: 'directed',
 524: 'horrible',
 525: "won't",
 526: 'viewer',
 527: 'brilliant',
 528: 'parts',
 529: 'self',
 530: 'themselves',
 531: 'hour',
 532: 'expect',
 533: 'thinking',
 534: 'stories',
 535: 'stuff',
 536: 'girls',
 537: 'obviously',
 538: 'blood',
 539: 'decent',
 540: 'city',
 541: 'voice',
 542: 'highly',
 543: 'myself',
 544: 'feeling',
 545: 'fight',
 546: 'except',
 547: 'slow',
 548: 'matter',
 549: 'type',
 550: 'kid',
 551: 'anyway',
 552: 'roles',
 553: 'killed',
 554: 'heard',
 555: 'says',
 556: 'age',
 557: 'god',
 558: 'moment',
 559: 'took',
 560: 'leave',
 561: 'writer',
 562: 'strong',
 563: 'cannot',
 564: 'violence',
 565: 'police',
 566: 'hit',
 567: 'happens',
 568: 'stop',
 569: 'particularly',
 570: 'known',
 571: 'happened',
 572: 'involved',
 573: 'extremely',
 574: 'obvious',
 575: 'daughter',
 576: 'told',
 577: 'chance',
 578: 'living',
 579: 'coming',
 580: 'lack',
 581: 'alone',
 582: 'experience',
 583: "wouldn't",
 584: 'including',
 585: 'murder',
 586: 'attempt',
 587: 's',
 588: 'james',
 589: 'please',
 590: 'happen',
 591: 'wonder',
 592: 'crap',
 593: "film's",
 594: 'brother',
 595: 'ago',
 596: 'gore',
 597: 'none',
 598: 'complete',
 599: 'interest',
 600: 'score',
 601: 'group',
 602: 'cut',
 603: 'simple',
 604: 'save',
 605: 'hell',
 606: 'looked',
 607: 'ok',
 608: 'number',
 609: 'career',
 610: 'song',
 611: 'possible',
 612: 'seriously',
 613: 'annoying',
 614: 'sad',
 615: 'exactly',
 616: 'shown',
 617: 'running',
 618: 'serious',
 619: 'musical',
 620: 'taken',
 621: 'yourself',
 622: 'released',
 623: 'whose',
 624: 'david',
 625: 'cinematography',
 626: 'scary',
 627: 'ends',
 628: 'usually',
 629: 'english',
 630: 'hero',
 631: 'hours',
 632: 'reality',
 633: 'opening',
 634: "i'll",
 635: 'across',
 636: 'today',
 637: 'light',
 638: 'jokes',
 639: 'hilarious',
 640: 'somewhat',
 641: 'usual',
 642: 'body',
 643: 'ridiculous',
 644: 'cool',
 645: 'started',
 646: 'view',
 647: 'level',
 648: 'relationship',
 649: 'opinion',
 650: 'change',
 651: 'happy',
 652: 'middle',
 653: 'taking',
 654: 'wish',
 655: 'finds',
 656: 'husband',
 657: 'order',
 658: 'saying',
 659: 'talking',
 660: 'ones',
 661: 'shots',
 662: 'documentary',
 663: 'huge',
 664: 'novel',
 665: 'mostly',
 666: 'female',
 667: 'robert',
 668: 'power',
 669: 'episodes',
 670: 'room',
 671: 'important',
 672: 'rating',
 673: 'talent',
 674: 'five',
 675: 'major',
 676: 'turned',
 677: 'strange',
 678: 'word',
 679: 'modern',
 680: 'call',
 681: 'apparently',
 682: 'disappointed',
 683: 'single',
 684: 'events',
 685: 'four',
 686: 'due',
 687: 'songs',
 688: 'attention',
 689: 'basically',
 690: '7',
 691: 'knows',
 692: 'clearly',
 693: 'knew',
 694: 'supporting',
 695: 'non',
 696: 'television',
 697: 'comic',
 698: 'british',
 699: 'earth',
 700: 'fast',
 701: 'country',
 702: 'future',
 703: 'cheap',
 704: 'class',
 705: 'silly',
 706: '8',
 707: 'thriller',
 708: 'king',
 709: 'problems',
 710: "aren't",
 711: 'easily',
 712: 'words',
 713: 'tells',
 714: 'miss',
 715: 'jack',
 716: 'local',
 717: 'sequence',
 718: 'entertainment',
 719: 'bring',
 720: 'paul',
 721: 'beyond',
 722: 'upon',
 723: 'whether',
 724: 'moving',
 725: 'predictable',
 726: 'romantic',
 727: 'straight',
 728: 'sets',
 729: 'similar',
 730: 'review',
 731: 'falls',
 732: 'oscar',
 733: 'mystery',
 734: 'enjoyable',
 735: 'appears',
 736: 'rock',
 737: 'needs',
 738: 'talk',
 739: 'george',
 740: 'giving',
 741: 'eye',
 742: 'richard',
 743: 'within',
 744: 'ten',
 745: 'animation',
 746: 'message',
 747: 'near',
 748: 'theater',
 749: 'above',
 750: 'dull',
 751: 'nearly',
 752: 'sequel',
 753: 'points',
 754: 'theme',
 755: 'stand',
 756: "'",
 757: 'mention',
 758: 'add',
 759: 'bunch',
 760: 'lady',
 761: 'feels',
 762: 'herself',
 763: 'release',
 764: 'red',
 765: 'team',
 766: 'storyline',
 767: 'surprised',
 768: 'ways',
 769: 'named',
 770: 'using',
 771: "haven't",
 772: 'lots',
 773: 'easy',
 774: 'fantastic',
 775: 'begins',
 776: 'actual',
 777: 'working',
 778: 'effort',
 779: 'york',
 780: 'hate',
 781: 'die',
 782: 'french',
 783: 'minute',
 784: 'tale',
 785: 'clear',
 786: '9',
 787: 'stay',
 788: 'feature',
 789: 'elements',
 790: 'among',
 791: 'follow',
 792: 're',
 793: 'comments',
 794: 'viewers',
 795: 'avoid',
 796: 'sister',
 797: 'showing',
 798: 'typical',
 799: 'editing',
 800: "what's",
 801: 'famous',
 802: 'tried',
 803: 'sorry',
 804: 'fall',
 805: 'check',
 806: 'dialog',
 807: 'period',
 808: 'form',
 809: 'season',
 810: 'certain',
 811: 'filmed',
 812: 'soundtrack',
 813: 'weak',
 814: 'means',
 815: 'buy',
 816: 'material',
 817: 'somehow',
 818: 'realistic',
 819: 'figure',
 820: 'crime',
 821: 'doubt',
 822: 'gone',
 823: 'peter',
 824: 'tom',
 825: 'kept',
 826: 'viewing',
 827: 't',
 828: 'general',
 829: 'leads',
 830: 'greatest',
 831: 'space',
 832: 'lame',
 833: 'suspense',
 834: 'dance',
 835: 'imagine',
 836: 'brought',
 837: 'third',
 838: 'atmosphere',
 839: 'hear',
 840: 'particular',
 841: 'sequences',
 842: 'whatever',
 843: 'parents',
 844: 'move',
 845: 'lee',
 846: 'indeed',
 847: 'learn',
 848: 'de',
 849: 'eventually',
 850: 'rent',
 851: 'note',
 852: 'forget',
 853: 'deal',
 854: 'wait',
 855: 'average',
 856: 'reviews',
 857: 'japanese',
 858: 'sexual',
 859: 'poorly',
 860: 'okay',
 861: 'premise',
 862: 'surprise',
 863: 'zombie',
 864: 'believable',
 865: 'stage',
 866: 'sit',
 867: 'possibly',
 868: "who's",
 869: 'decided',
 870: 'expected',
 871: "you've",
 872: 'subject',
 873: 'nature',
 874: 'became',
 875: 'difficult',
 876: 'free',
 877: 'screenplay',
 878: 'killing',
 879: 'truth',
 880: 'romance',
 881: 'dr',
 882: 'nor',
 883: 'reading',
 884: 'question',
 885: 'needed',
 886: 'leaves',
 887: 'street',
 888: '20',
 889: 'meets',
 890: 'hot',
 891: 'begin',
 892: 'unless',
 893: 'baby',
 894: 'imdb',
 895: 'credits',
 896: 'superb',
 897: 'otherwise',
 898: 'write',
 899: 'shame',
 900: "let's",
 901: 'dramatic',
 902: 'situation',
 903: 'memorable',
 904: 'directors',
 905: 'earlier',
 906: 'open',
 907: 'meet',
 908: 'dog',
 909: 'disney',
 910: 'badly',
 911: 'male',
 912: 'weird',
 913: 'joe',
 914: 'acted',
 915: 'forced',
 916: 'sci',
 917: 'emotional',
 918: 'laughs',
 919: 'older',
 920: 'realize',
 921: 'fi',
 922: 'dream',
 923: 'society',
 924: 'interested',
 925: 'writers',
 926: 'footage',
 927: 'forward',
 928: 'comment',
 929: 'crazy',
 930: 'deep',
 931: 'beauty',
 932: 'plus',
 933: 'whom',
 934: 'sounds',
 935: 'america',
 936: 'fantasy',
 937: 'directing',
 938: 'keeps',
 939: 'ask',
 940: 'development',
 941: 'features',
 942: 'quickly',
 943: 'air',
 944: 'creepy',
 945: 'mess',
 946: 'perfectly',
 947: 'towards',
 948: 'mark',
 949: 'worked',
 950: 'box',
 951: 'cheesy',
 952: 'unique',
 953: 'hands',
 954: 'setting',
 955: 'plenty',
 956: 'brings',
 957: 'result',
 958: 'previous',
 959: 'e',
 960: 'effect',
 961: 'total',
 962: 'incredibly',
 963: 'personal',
 964: 'rate',
 965: 'fire',
 966: 'monster',
 967: 'business',
 968: 'leading',
 969: 'apart',
 970: 'casting',
 971: 'admit',
 972: 'background',
 973: 'powerful',
 974: 'appear',
 975: 'joke',
 976: 'telling',
 977: 'meant',
 978: 'girlfriend',
 979: 'hardly',
 980: 'present',
 981: 'christmas',
 982: 'battle',
 983: 'potential',
 984: 'create',
 985: 'bill',
 986: 'break',
 987: 'pay',
 988: 'masterpiece',
 989: 'return',
 990: 'gay',
 991: 'dumb',
 992: 'political',
 993: 'fighting',
 994: 'fails',
 995: 'various',
 996: 'portrayed',
 997: 'era',
 998: 'secret',
 999: 'co',
 1000: 'cop',
 ...}

In [11]:
# 對照著精選詞典，把每一篇文章的每一個詞照順序轉化成數字，
# 而不在精選詞典內的詞不會被列出，所以轉換過的數字只在 1~3000 之中
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq  = tok.texts_to_sequences(test_df["content"])

# 因為每篇文章詞數不一樣多，而最長篇的文章出現在精選3000字詞典的有 1816 個詞
# 所以總欄位(columns)有 1816 個，而其他文章不足 1816 就會補上 NaN
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0       204    40   293  1679     2    48  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        51     6  2086    20     1  1284  ...   NaN   NaN   NaN   NaN   NaN   NaN
2         1  2148   434     8  2315    36  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       157    28     4   145   105    22  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        10    13   481     8    11    19  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    11     6    31     1   227   246  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    48     6     1    88    17   123  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    72    25    29    74  2249   135  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10   293   104   595    20   285  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999   607    35    42     3   361   349  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [12]:
# 為了讓每篇文章詞數都一樣多，所以要「截長補短」
# 截長：預設評論前面都是廢話，所以這裡的截長是「由後往前(從NaN往前)」數 256 個詞 
# 補短：「0」就是補短的結果
from tensorflow.keras.preprocessing.sequence import pad_sequences

x_train_pad = pad_sequences(x_train_seq, maxlen=256, 
                            padding='pre', truncating='pre')
x_test_pad  = pad_sequences(x_test_seq, maxlen=256, 
                            padding='pre', truncating='pre')
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   250   251   252   253  254   255
0        0    0    0    0    0    0  ...  2588     9    49   250  690   155
1        0    0    0    0    0    0  ...   188     1  2633     4   84  2602
2        0    0    0    0    0    0  ...     1  1784     4  1311    8    31
3        0    0    0    0    0    0  ...     9    10   101     6    1   422
4        0    0    0    0    0    0  ...   490     5    94    18   40   188
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...  1289  2190     2  2816  273   292
24996    4  726    8   19    7    7  ...     9   457     3   240    4   988
24997    0    0    0    0    0    0  ...     1   201   204   107    2   669
24998    0    0    0    0    0    0  ...     1    19   421     5   27   160
24999    0    0    0    0    0    0  ...   130   222   424   161    5  2369

[25000 rows x 256 columns]

In [13]:
# 補短範例
print('第一篇文章有', len(x_train_seq[0]), '個字，詳列如下：')
print(x_train_seq[0])
print()
print('文章詞數需有', len(x_train_pad[0]), '個字，若詞數不足就補「0」，詳列如下：')
print(x_train_pad[0])

第一篇文章有 119 個字，詳列如下：
[204, 40, 293, 1679, 2, 48, 3, 1737, 9, 676, 43, 5, 27, 236, 63, 43, 10, 255, 543, 162, 2903, 41, 48, 567, 5, 2306, 466, 1, 223, 4, 1, 19, 60, 407, 6, 3, 173, 4, 250, 52, 16, 3, 49, 1489, 4, 70, 102, 176, 32, 1066, 42, 343, 617, 55, 47, 23, 955, 4, 49, 1293, 466, 14, 70, 9, 77, 398, 22, 363, 1, 127, 82, 102, 5, 103, 43, 15, 23, 1, 481, 2137, 2401, 2, 1, 1559, 9, 200, 21, 25, 1, 663, 349, 4, 3, 359, 2640, 18, 89, 384, 12, 273, 22, 122, 22, 97, 78, 3, 173, 430, 71, 11, 43, 22, 525, 2588, 9, 49, 250, 690, 155]

文章詞數需有 256 個字，若詞數不足就補「0」，詳列如下：
[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0  204   40  293
 1679    2   48    3 1737    9  676   43    5   27  236   63   43   10
  255  543  162 2903   41   48  567    5 2306  466    1  223    4    1
   19   60  407    6    3  173    4  250   52   16    3   49 1489    4
   70  102  176   32 1066   42  343  617   55   47   23  955    4   49
 1293  466   14   70    9   77  398   22  363    1  127   82  102    5
  103   43   15   23    1  481 2137 2401    2    1 1559    9  200   21
   25    1  663  349    4    3  359 2640   18   89  384   12  273   22
  122   22   97   78    3  173  430   71   11   43   22  525 2588    9
   49  250  690  155]

In [14]:
# 截長範例
print('最後一篇文章有', len(x_train_seq[24999]), '個字，詳列如下：')
print(x_train_seq[24999])
print()
print('我只取文章中的', len(x_train_pad[24999]), '個字，詳列如下：')
print(x_train_pad[24999])

最後一篇文章有 109 個字，詳列如下：
[607, 35, 42, 3, 361, 349, 19, 10, 340, 1, 85, 9, 13, 321, 8, 706, 371, 1, 113, 6, 1, 2436, 6, 1320, 1, 538, 269, 37, 9, 382, 36, 1693, 2, 204, 107, 50, 1075, 90, 36, 2195, 2, 1, 1520, 1224, 269, 37, 33, 340, 5, 20, 1, 153, 7, 7, 10, 235, 27, 499, 5, 131, 361, 349, 44, 47, 68, 46, 776, 1497, 44, 3, 17, 90, 32, 586, 5, 373, 3, 62, 18, 11, 1593, 4, 371, 926, 67, 4, 54, 111, 54, 144, 102, 2, 54, 42, 3, 529, 945, 7, 7, 2, 89, 54, 1027, 130, 222, 424, 161, 5, 2369]

我只取文章中的 256 個字，詳列如下：
[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0  607   35   42    3  361  349   19
   10  340    1   85    9   13  321    8  706  371    1  113    6    1
 2436    6 1320    1  538  269   37    9  382   36 1693    2  204  107
   50 1075   90   36 2195    2    1 1520 1224  269   37   33  340    5
   20    1  153    7    7   10  235   27  499    5  131  361  349   44
   47   68   46  776 1497   44    3   17   90   32  586    5  373    3
   62   18   11 1593    4  371  926   67    4   54  111   54  144  102
    2   54   42    3  529  945    7    7    2   89   54 1027  130  222
  424  161    5 2369]

In [0]:
# 不事先對答案做 one-hot encoding
import numpy as np

y_train = np.array(train_df["sentiment"], dtype="int")
y_test  = np.array(test_df["sentiment"], dtype="int")

## step2: 訓練模型

### 建立模型：Sequential

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Dense, Flatten, Dropout

model = Sequential()
                                           # 注意！在 NLP 中「0」會保留給 padding
model.add(Embedding(input_dim=3001,        # 3000種詞 + padding 的「0」 = 3001種
                    input_length=256,      # input數量要一樣多，所以截長補短成 256個詞
                    output_dim=64,         # 64個語意/感受/情緒(詞向量)
                    mask_zero=True         # 不要把 padding 的「0」 視為一個特徵
                    ))                     # Param = 3001種 * 64個特徵 = 192064

model.add(Flatten())
model.add(Dense(128, activation="relu"))
model.add(Dropout(0.25))
model.add(Dense(2, activation="softmax"))  # 需對答案做 one-hot encoding
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 256, 64)           192064
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 128)               2097280
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 258
=================================================================
Total params: 2,289,602
Trainable params: 2,289,602
Non-trainable params: 0
_________________________________________________________________

### 確定模型訓練方式

In [0]:
# 若是 model.add(Dense(units=1, activation="sigmoid"))
# 則要 model.compile(loss="binary_crossentropy",

from tensorflow.keras.losses import SparseCategoricalCrossentropy

model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam", 
              metrics=["accuracy"])

### 訓練模型

In [18]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

stop_callback = EarlyStopping(patience=3, restore_best_weights=True)
save_callback = ModelCheckpoint("sentiment.h5", save_best_only=True)

model.fit(x_train_pad, 
          y_train, 
          batch_size=200, 
          epochs=100,
          callbacks=[stop_callback, save_callback], 
          validation_split=0.1, 
          verbose=2)

Epoch 1/100
113/113 - 8s - loss: 0.5319 - accuracy: 0.7036 - val_loss: 0.3052 - val_accuracy: 0.8644
Epoch 2/100
113/113 - 8s - loss: 0.2061 - accuracy: 0.9226 - val_loss: 0.4187 - val_accuracy: 0.8232
Epoch 3/100
113/113 - 8s - loss: 0.0635 - accuracy: 0.9827 - val_loss: 0.3987 - val_accuracy: 0.8620
Epoch 4/100
113/113 - 8s - loss: 0.0134 - accuracy: 0.9982 - val_loss: 0.5651 - val_accuracy: 0.8392

## step3: 預測結果

In [19]:
pre = np.argmax(model.predict(x_test_pad), axis=-1)
pre

array([1, 1, 1, ..., 0, 1, 0])

In [20]:
# 查看文章情緒
from tensorflow.keras.models import Model

partial = Model(model.input, model.layers[0].output)

# 有 25000 篇文章，每篇文章有 256 個詞，每個詞有 64 個維度向量
print(partial.predict(x_test_pad).shape, end='\n\n')

# 取出第一篇文章 第一個詞 的 64 個維度向量
print(partial.predict(x_test_pad)[0][0], end='\n\n')
print('average:', np.average(partial.predict(x_test_pad)[0][0]))

(25000, 256, 64)

[-1.2825865e-02 -6.4815889e-04  2.7761883e-03 -3.1045147e-03
 -5.1833019e-03 -9.5896487e-04 -8.8673187e-03  1.3953440e-02
  1.3106449e-03 -5.8280807e-03  2.7724942e-03  2.4341168e-03
  1.1438569e-02 -2.4555363e-03 -4.9036276e-03 -4.1691237e-03
  4.3116082e-03  8.7011326e-03  5.0012954e-04 -1.2904203e-03
 -1.5947665e-03 -2.0286562e-02  7.5638518e-03 -7.0303921e-03
 -1.9455806e-03 -3.0703722e-03 -1.0551834e-02 -2.9572458e-03
 -1.0718222e-02  2.5127985e-04  4.7404263e-03 -2.4503481e-03
 -5.8259317e-03  4.3428801e-03  1.2995608e-02  1.1948263e-03
  2.5228920e-04  8.9350417e-03  5.6787264e-03  1.7431129e-03
 -4.5321067e-06  1.4274125e-04  5.7742591e-03  9.5780734e-03
 -2.5936381e-03  9.2259087e-03 -5.0408621e-03  6.3190600e-03
  4.5449268e-03 -7.6703844e-03  1.7432457e-02 -2.2657514e-02
 -1.3422180e-02 -7.5165974e-03  6.0356222e-04  6.4169877e-04
  8.1777247e-03 -6.1237663e-03 -2.0006513e-02 -3.7386448e-03
  7.6322290e-03  9.6208951e-04  9.3710162e-03 -5.9041660e-03]

average: -0.0005475445

## step4: 驗證模型

In [21]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.3200 - accuracy: 0.8610

[0.3199652135372162, 0.8610399961471558]

## 使用者輸入「詞」，將「詞」轉成「詞向量」

In [22]:
inference = Sequential()
inference.add(Embedding(input_dim=3001,
                        output_dim=64))

# 取得之前訓練模型的權值/參數
weight = model.layers[0].get_weights()

# 注意！input_dim 和 output_dim 要一樣才能複製來使用
inference.set_weights(weight)
inference.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 64)          192064
=================================================================
Total params: 192,064
Trainable params: 192,064
Non-trainable params: 0
_________________________________________________________________

In [23]:
word = input('請輸入你想轉換的詞：')
data = [[word2index[word]]]
print('詞向量：\n', inference.predict(data))

請輸入你想轉換的詞：crazy
詞向量：
 [[[ 0.01763171  0.01192511 -0.01953395 -0.0548807  -0.00266308
    0.03334697 -0.01998972  0.04573987 -0.01516189 -0.01411523
    0.02756156  0.03669238  0.06408543  0.01398283  0.0363889
   -0.05363119 -0.02154821 -0.02394863 -0.04626471  0.03656537
   -0.01906935  0.04671087 -0.03088018  0.03764979 -0.01196658
   -0.0173284  -0.02821687  0.02960247 -0.00713556 -0.0148444
    0.04095268 -0.00499463 -0.01437375  0.00365028  0.03259805
   -0.0355837   0.04672607 -0.02771533 -0.03293008 -0.01716172
    0.01952889  0.0560222  -0.01333134 -0.02280795  0.04179186
   -0.04853619 -0.05014278  0.05536589 -0.0343472   0.00256625
    0.00060062  0.02330355 -0.00849306 -0.0053474   0.04064495
    0.01033968  0.03769073 -0.0177048   0.00709884 -0.02200131
    0.03126921 -0.03826933  0.00071242 -0.02230404]]]